.navDiv {
    grid-area: header;
    display: flex;
    color: white;
    justify-content: space-between;
    background: linear-gradient(-15deg, white, gray, black);
    text-align: left;
 
    box-shadow: 20px 10px 20px 10px gray;
}